<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>El-Zanaty</title>
    <link href="../../css/contact.css" rel="stylesheet" />
    <link href="../../css/form.css" rel="stylesheet" />
    <link href="../../css/models.css" rel="stylesheet" />
    <link href="../../css/style.css" rel="stylesheet" />
  </head>
  <body>
    <nav class="topnav">
      <div>
        <a href="../../vehicles.html">
          <img
            id="logo"
            class="nav-content"
            src="../../img/Check-Engine-Light-Logo.png"
        /></a>
      </div>
      <a id="navtitle" class="nav-content" href="../../home.html"
        >El-Zanaty Motors</a
      >
      <a id="order" class="nav-content" href="../../form.html">Order Now</a>
      <a id="contact" class="nav-content" href="../../contact.html"
        >Contact Us</a
      >
    </nav>
    <div class="container models-container">
      <div class="model" id="0" onclick="openModal(this.id)">
        <img class="cars-images" src="../../img/audi/Audi-A3.webp" />
        <div class="overlay">
          <div class="overlay-text">A3</div>
        </div>
      </div>
      <div class="model" id="1" onclick="openModal(this.id)">
        <img class="cars-images" src="../../img/audi/audi-a4.jpg" />
        <div class="overlay">
          <div class="overlay-text">A4</div>
        </div>
      </div>
      <div class="model" id="2" onclick="openModal(this.id)">
        <img class="cars-images" src="../../img/audi/Audi A6.jpg" />
        <div class="overlay">
          <div class="overlay-text">A6</div>
        </div>
      </div>
      <div class="model" id="3" onclick="openModal(this.id)">
        <img class="cars-images" src="../../img/audi/audi-q3.jpg" />
        <div class="overlay">
          <div class="overlay-text">Q3</div>
        </div>
      </div>
      <div class="model" id="4" onclick="openModal(this.id)">
        <img class="cars-images" src="../../img/audi/audi-q7.jpg" />
        <div class="overlay">
          <div class="overlay-text">Q7</div>
        </div>
      </div>
      <div class="model" id="5" onclick="openModal(this.id)">
        <img class="cars-images" src="../../img/audi/audi-q8.jpg" />
        <div class="overlay">
          <div class="overlay-text">Q8</div>
        </div>
      </div>
    </div>
    <div class="cars-modal invisible" id="modal">
      <div class="close" onclick="openModal()">X</div>
      <div class="car-info">
        <h3 id="modal-header"></h3>
      </div>
      <pre class="car-info-paragraph" id="modal-description"></pre>
    </div>
    <script src="/util/modal.js"></script>
  </body>
</html>
