<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>El-Zanaty</title>
    <link href="../../css/contact.css" rel="stylesheet" />
    <link href="../../css/form.css" rel="stylesheet" />
    <link href="../../css/models.css" rel="stylesheet" />
    <link href="../../css/style.css" rel="stylesheet" />
  </head>
  <body>
    <nav class="topnav">
      <div>
        <a href="../../vehicles.html">
          <img
            id="logo"
            class="nav-content"
            src="../../img/Check-Engine-Light-Logo.png"
        /></a>
      </div>
      <a id="navtitle" class="nav-content" href="../../home.html"
        >El-Zanaty Motors</a
      >
      <a id="order" class="nav-content" href="../../form.html">Order Now</a>
      <a id="contact" class="nav-content" href="../../contact.html"
        >Contact Us</a
      >
    </nav>
    <div class="container models-container">
      <div class="model" id="12" onclick="openModal(this.id)">
        <img class="cars-images" src="../../img/vw/golf.jpg" />
        <div class="overlay">
          <div class="overlay-text">Golf</div>
        </div>
      </div>
      <div class="model" id="13" onclick="openModal(this.id)">
        <img class="cars-images" src="../../img/vw/jetta.jpg" />
        <div class="overlay">
          <div class="overlay-text">Jetta</div>
        </div>
      </div>
      <div class="model" id="14" onclick="openModal(this.id)">
        <img class="cars-images" src="../../img/vw/passat.jpg" />
        <div class="overlay">
          <div class="overlay-text">Passat</div>
        </div>
      </div>
      <div class="model" id="15" onclick="openModal(this.id)">
        <img class="cars-images" src="../../img/vw/polo.jpg" />
        <div class="overlay">
          <div class="overlay-text">Polo</div>
        </div>
      </div>
      <div class="model" id="16" onclick="openModal(this.id)">
        <img class="cars-images" src="../../img/vw/tiguan.jpg" />
        <div class="overlay">
          <div class="overlay-text">Tiguan</div>
        </div>
      </div>
      <div class="model" id="17" onclick="openModal(this.id)">
        <img class="cars-images" src="../../img/vw/arteon.jpg" />
        <div class="overlay">
          <div class="overlay-text">Arteon</div>
        </div>
      </div>
    </div>
    <div class="cars-modal invisible" id="modal">
      <div class="close" onclick="openModal()">X</div>
      <div class="car-info">
        <h3 id="modal-header"></h3>
      </div>
      <pre class="car-info-paragraph" id="modal-description"></pre>
    </div>
    <script src="/util/modal.js"></script>
  </body>
</html>
